<div class="container">
  <h2>New in Smart Phones</h2>
  <div class="more-products">
    <app-product>
      <h4 class="title">New in iPhone</h4>
      <button class="btn btn-more">Show more in iPhone</button>
    </app-product>	
    <app-product>
      <h4 class="title">New in Samsung</h4>
      <button class="btn btn-more">Show more in Samsung</button>
    </app-product>
    <app-product>
      <h4 class="title">New in OnePlus</h4>
      <button class="btn btn-more">Show more OnePlus</button>
    </app-product>
    <app-product>
      <h4 class="title">New in MI</h4>
      <button class="btn btn-more">Show more MI</button>
    </app-product>
  </div> 
</div>

<!-- It's wont be a professional coding to repeat the same code -->
<!-- Hence the we extract the COMMON CODE in below commented code and kept in product.html -->

<!-- <div class="card">
        <h4 class="title">New in iPhone</h4>
        <p class="summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <button class="btn btn-more">Show more</button>
      </div>
      <div class="card">
        <h4 class="title">New in Samsung</h4>
        <p class="summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <button class="btn btn-more">Show more</button>
      </div>
      <div class="card">
        <h4 class="title">New in OnePlus</h4>
        <p class="summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <button class="btn btn-more">Show more</button>
      </div>
      <div class="card">
        <h4 class="title">New in MI</h4>
        <p class="summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <button class="btn btn-more">Show more</button>
      </div> 
-->
 