<div class="wrapper">
    <!--CONCEPT : Different ways of Using Component object `selector` property-->
    <!-- <app-nav></app-nav> --> <!-- selector value as HTML tag-->
    <div app-nav></div> <!-- selector value as HTML attribute-->
    <!-- <div class="app-nav"></div> --> <!-- selector value as CSS class to HTML element-->
    <app-header></app-header>
    <div>
        <app-notification></app-notification>
    </div>  
    <div>
        <app-search></app-search>
    </div>  
    <div>
        <app-products></app-products>
    </div>
</div>
