
.highlight{
    background-color: #ddd;
    border: #FF5722 3px solid;
    border-radius: 5px;
}
i{
    font-size: 16px;
    margin: 10px;
    color: #FF5722;
}
.vedio-data{
    margin: 5px;
    font-size: 14px;
}
.details{
    display: flex;
    margin: 10px 5px;
}
.container{
    margin: 10px 280px;
    background-color: #F8F9F9;
    display: flex;
    flex-wrap: wrap;
}
.video-container{
    margin: 5px 5px;
    padding: 2px 2px;
    background-color: #9dcfe2;
    
}
.video-card{
    background-color: #78b1b1;
    margin: 10px 13px;
    text-align: center;
    
}